.scrollTop {
    button {
        position: fixed;
        bottom: 10px;
        right: 10px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: none;
        background-color: #d69fac;
        transition: all .4s ease-in-out;

        img {
            padding: 15px;
            width: 100%;
            transition: all 0.3s ease-in-out;
        }

        &:hover {
            background-color: #dd899c;
            transform: scale(1.02); 
        }
    }
}
