#highFlyer {
    background-color: var(--white-back);
    padding: 200px 0 100px 0;

    .banner-content {
        .banner-image {
            background-image: radial-gradient(100% 50% at 50% 0,#f5eaeb 2%,#ebeada00 98%),radial-gradient(100% 50% at 50% 100%,#ede9e4 1%,#f4f0e100 99%),linear-gradient(0deg,#f8eff1 3%,#fdf3f4);;
        }
    }

    .table-container {
        margin-top: 100px;
    }

    .visa-benefits {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 100px;

        span, h3 {
            font-size: 28px;
        }

        h3 {
            margin-bottom: 56px;
        }

        p {
            width: 50%;
            margin: 0 auto;
            text-align: center;
            font-size: 24px;
            color: #00000080;
            margin-bottom: 48px;
        }

        button {
            background-color: transparent;
            border: 2px solid #00000080;
            padding: 10px 20px;
            border-radius: 100px;
            font-size: 20px;
            color: #000;
            font-weight: 500;
        }
        
    }
}

@media (max-width: 768px) {
    #highFlyer {
        overflow: hidden;
        .banner-content {
            .banner-image {
                background-image: none;
    
                .image {
                  img {
                    border-radius: 20px;
                  }
                }
            }
        }
    }
}