@font-face {
    font-family: 'Sequel Sans Book'; 
    src: url('../assets/fonts/Sequel Sans Book Disp.ttf') format('truetype');
  }

.container {
    width: 69%;
    margin: 0 auto;
}

.homeBanner {
    display: flex;
    flex-direction: column;
    padding: 130px 0;
    background-color: #e7cdd3;
    color: #d69fac;
    text-align: center;
    font-family: 'Sequel Sans Book';

    h1 {
        font-size: 110px;
        margin-bottom: 65px;
    }

    img {
        width: 100%;
        height: auto;
        margin-bottom: 65px;
    }

    p {
        font-size: 45px;
        line-height: 55px;
        margin-bottom: 65px;

        span {
            color: #000;
            font-weight: 600;
        }
    }
}