#headTurner {
    padding: 170px 0;
    border-top: 2px solid #00000080;
    border-bottom: 2px solid #00000080;

    .card-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 170px;

        video {
            width: 100%;
            height: auto;
            border-radius: 20px;
            object-fit: contain;
        }

        span {
            padding: 10px 0;
            font-size: 12px;
            font-family: 'Apercu Mono Pro Regular';
            color: #00000080;
        }
    }

    .card-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 150px;

        .two-cards-container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .left-single-card {
                width: 50%;
                padding: 180px 80px;
                background-image: linear-gradient(180deg,#cbcbcb,#e6e6e6);;
    
                img{
                    width: 100%;
                }
            }
    
            .right-single-card {
                width: 50%;
                padding: 180px 80px;
                background-image: linear-gradient(180deg,#5c5a59,#756f6d);
    
                img{
                    width: 100%;
                }
            }
        }

        .centered-images-desc {
            padding: 10px 0;
            font-size: 12px;
            color: #00000080;
            font-family: 'Apercu Mono Pro Regular'; 
        }
    }

    .table-container {
        .table-row {
            &:last-child {
                border-bottom: none;
            }
        }
    }
}

@media (max-width: 768px) {
    #headTurner {
        overflow: hidden;

        .card-items {
            background-color: var(--white-back);
            border-radius: 20px;
            padding: 30px;

            .two-cards-container {
                flex-direction: column;
                width: 100%;

                .left-single-card , .right-single-card {
                    width: 100%;
                    padding: 40px;
                }

                .left-single-card {
                    border-top-right-radius: 20px;
                    border-top-left-radius: 20px;
                }

                .right-single-card {
                    border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                }

            }
        }
    }
}