.footer {
    padding: 50px 0;
    font-family: 'Apercu Mono Pro Regular'; 
    color: #727272;

    .footer-top {
        display: flex;
        justify-content: space-between;
        // padding-bottom: 50px;
        border-bottom: 1px solid #001391;

        .icons {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .human-icon {
                margin-top: 100px;
            }
        }

        .footer-category {
            display: flex;
            flex-direction: column;

            span {
                color: #727272;
                font-size: 12px;
                margin: 8px 0;
            }

            a {
                font-size: 12px;
                color: #001391;
                margin: 8px 0;
                text-decoration: none;
            }
        }
    }

    .footer-bottom {
        padding: 20px;
        font-size: 10px;
    }

    .copyright {
        font-size: 10px;
        
        p {
            margin-top: 16px;
        }
    }

}