#trulyPersonal {
    background-color: var(--white-back);
    padding: 200px 0;

    .banner-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .banner-image {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            background-color: #e6e6e6;

            img {
                padding: 100px 50px;
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }

        .banner-desc {
            padding: 10px 0;
            font-size: 12px;
            font-family: 'Apercu Mono Pro Regular';
            color: #00000080; 
            margin-bottom: 100px;
        }
    }

    .card-image {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 100px;

        img {
            width: 100%;
            height: auto;
            object-fit: contain;
            border-radius: 20px;
        }

        span {
            padding: 10px 0;
            font-size: 12px;
            font-family: 'Apercu Mono Pro Regular';
            color: #00000080; 
        }
    }
}